<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <services>
      <service name="Contract.IMessageService" behaviorConfiguration="IMessageServiceBehavior">
        <endpoint
          address="net.tcp://localhost:8018/Contract/IMessageService"
          binding="netTcpBinding"
          bindingConfiguration="bindingMessageSecured"
          contract ="Contract.IMessageService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="bindingMessageSecured" maxReceivedMessageSize="10485760">
          <security mode ="Message">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IMessageServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>
