<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessageService">
                    <security mode="Message">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8018/Job/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessageService"
                contract="ServiceReference1.IMessageService" name="NetTcpBinding_IMessageService">
                <identity>
                    <userPrincipalName value="XAVIER-OKLM-ZER\Utilisateur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>