<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMessageService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9018/Job/MessageService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMessageService"
                contract="ServiceReference1.IMessageService" name="WSHttpBinding_IMessageService">
                <identity>
                    <userPrincipalName value="XAVIER-OKLM-ZER\Utilisateur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>