<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReceptionPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:15080/ReceptionService/FacadeServiceBean"
        binding="basicHttpBinding" bindingConfiguration="ReceptionPortBinding"
        contract="FacadeEndpoint.FacadeEndpoint" name="ReceptionPort" />
    </client>
    <services>
      <service
       name="Job.MessageService"
       behaviorConfiguration="myBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8018/MessageService"/>
          </baseAddresses>
        </host>
        <endpoint
         name="mexNetTcp"
         address="net.tcp://localhost:8018/MessageService/Facade"
         binding="mexTcpBinding"
         contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
